<section class="cert-section">
  <h2 class="text-center mb-4">Certifications</h2>
  <div class="cert-container">
    <!-- JavaScript Developer -->
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">JavaScript Developer Certification</h5>
        <img class="cert-img" [src]="path" alt="certification" />
        <p class="card-text">Issued by Simplilearn, May 2025</p>
        <a href="https://www.simplilearn.com/skillup-certificate-landing?token=..." target="_blank" class="btn btn-primary">View Certificate</a>
      </div>
    </div>

    <!-- Full-Stack Web Development -->
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Full-Stack Web Development</h5>
        <img class="cert-img" src="assets/ramMurari Front End Development certification.png" alt="certification" />
        <p class="card-text">Issued by Simplilearn, May 2025</p>
        <a href="https://lms.simplilearn.com/..." target="_blank" class="btn btn-primary">View Certificate</a>
      </div>
    </div>
  

   <!-- JavaScript Data Structures & Algorithms- -->
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">JavaScript Data Structures & Algorithms</h5>
        <img class="cert-img" src="assets/js_dsa.png" alt="certification" />
        <p class="card-text">Issued by Infosys Springboard, May 2025</p>
        <a href="https://infosysspringboard.com/..." target="_blank" class="btn btn-primary">View Certificate</a>
      </div>
    </div>
  </div>
</section>
