<section>
    <h2>Skills</h2>
    <div class="skills">
      <div class="skill">HTML5</div>
      <div class="skill">CSS3</div>
      <div class="skill">Bootstrap</div>
      <div class="skill">Responsive Design</div>
      <div class="skill">JavaScript</div> 
      <div class="skill">JS ES6</div>
      <div class="skill">REST API's</div>
      <div class="skill">Angular</div>
      <div class="skill">RXJS</div>
      <div class="skill">Angular Material</div>
      <div class="skill">Git</div>
      <div class="skill">GitHub</div>
      <div class="skill">Dev Tools</div>
      <div class="skill">Agile Methodology</div>
    </div>
  </section>