
<div class="header-container">
  <div class="header">
  <h2>Ram Murari</h2>
  <nav>
    <a routerLink="/" routerLinkActive="active"><i class="fas fa-home"> </i> Home</a>
    <a routerLink="/about" routerLinkActive="active"><i class="fas fa-user"> </i> About</a>
    <a routerLink="/skills" routerLinkActive="active"><i class="fas fa-code"></i> Skills</a>
    <a routerLink="/projects" routerLinkActive="active"><i class="fas fa-laptop-code"></i> Projects</a>
    <a routerLink="/certifications" routerLinkActive="active"><i class="fas fa-certificate"></i> Certifications</a>
    <a routerLink="/contact" routerLinkActive="active"><i class="fas fa-envelope"></i> Contact</a>
  </nav>
</div>

</div>


<main class="container py-4">
  <router-outlet></router-outlet>
</main>