<div class="container">
  <section class="hero">
    <h1>Hello, I'm <span class="highlight">Murari Ramakrishna</span></h1>

    <!-- Image Below Name -->
   <img src="assets/ramurari.jpg" alt="Profile" class="profile" />   
    <h5>Front-End-Web-Developer | Angular-Developer | JavaScript Developer</h5>

    <!-- Social Icons -->
    <div class="social-icons">
      <a href="https://www.linkedin.com/in/murariram2905/" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="https://github.com/murariram2905/" target="_blank"><i class="fab fa-github"></i></a>
    </div>

    <!-- Resume Download -->
    <p>
      <a href="assets/MurariRam_FrontEndDeveloper.pdf" class="btn" download>
        <i class="fas fa-download"></i> Download Resume
      </a>
    </p>

  </section>
  </div>