.hero {
    padding: 3rem 2rem;
    background-color: #e6f2ff;
  }
  
  .highlight {
    color: #1e90ff;
  }
  
  .btn {
    background-color: #1e90ff;
    color: white;
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 5px;
  }
  a {
    text-decoration: none;
    color: black;
  }
  p {
    margin: 0 0 8px;
  }