<section class="hero">
    <h1>Hello, I'm <span class="highlight">Murari Ramakrishna</span></h1>
    
    <h5>Front-End-Web-Developer | Angular-Developer  |  JavaScript Developer</h5>
    <p>•HTML • CSS • JavaScript • Angular  • Bootstrap •Angular Matrial  • Git & GitHub</p>

    <p><span >LinkedIn: <a href="https://www.linkedin.com/in/murariram2905/" target="_blank">https://www.linkedin.com/in/murariram2905/</a></span>   |  
       <span>GitHub: <a href="https://github.com/murariram2905/" target="_blank">https://github.com/murariram2905/</a></span></p>
    <a routerLink="/contact" class="btn">Hire Me</a>
  </section>